<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous"
    >
    <title>CheeZJokes</title>
  </head>
  <body>
    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>CheeZJokes</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
    <main role="main">
      <div id="content" class="container">
        {% block content %}
        {% endblock %}
      </div>
    </main>
  </body>
  <script src="{{ url_for('static', filename='index.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='Joke.jsx') }}" type="text/javascript"></script>
  {% block scripts %}
  {% endblock %}
</html>
